{% extends 'base.html.twig' %}

{% block title %}Accueil | Teeshop{% endblock %}

{% block body %}
    
    <h1 class="text-center my-4">Accueil</h1>
    
    {% include 'include/_flashes.html.twig' %}

<div class="row">
    <div class="col-10 mx-auto">
    
            {% for product in products | reverse %}
    <div class="row">
        <div class="card" style="width: 18rem;">
        <img src="{{ asset('uploads/' ~ product.photo) }}" class="card-img-top img-custom" height="200" alt="{{ product.title}}">
        <div class="card-body">
            <h5 class="card-title"> {{ product.title }}</h5>
            <p class="card-text"> {{ product.descript }}</p>
            <a href="{{ path('add_item',{'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
        </div>
        {% endfor %}
</div>
    </div>

{% endblock %}