{% extends 'base.html.twig' %}

{% block title %}Admin - Ajouter un produit | TeeShop{% endblock %}

{% block body %}

    <h1 class="text-center my-4">Ajouter un produit</h1>

    <div class="row">
        <div class="col-8 mx-auto">
        
            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.descript) }}

            <div class="row">
                <div class="col-4">{{ form_row(form.color) }}</div>
                <div class="col-4">{{ form_row(form.size) }}</div>
                <div class="col-4">{{ form_row(form.collection) }}</div>
            <div class="row">
                <div class="col-4"> {{ form_row(form.price) }} </div>
                <div class="col-4">{{ form_row(form.stock) }}</div>
            </div>
            </div>


            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}